#offlineDutcherMainContainer {
    width: 100vw;
    height: 100vh;
    background-color: #25272c;
}

#cashback2VieTitleContainer{
    text-align: center;
    padding: 3vh;
    background-color: #2e3339;
    border-radius: 10px;
}

#cashback2VieTitle {
    color: #ff5252;
}

.calcolatore2vieContainer{
    margin-top: 3vh;
    background-color: rgba(46, 51, 57, 0.6);
    min-height: 60vh;
    min-width: 45vw;
    max-width: 45vw;
    border-radius: 10px;
}

.calcolatore2vieContainer2{
    margin-top: 3vh;
    background-color: rgba(46, 51, 57, 0.6);
    min-height: 60vh;
    max-width: 35vw;
    border-radius: 10px;
    text-align: center;
}

._3yPwv._NwSHs._11JjB._1uvOH {
    margin-bottom: 0;
    font-weight: bold;
    color: white;
}

._2hoJO._17_OS {
    margin-bottom: 0;;
}

._cL4RU._3tLvr{
    --bg-color: none;
}

._cL4RU._17_OS._3W7Om._3tLvr._39_ND{
    background-color: #ff5252;
}

._cL4RU._17_OS._3W7Om._3tLvr._39_ND:hover{
    background-color: #fa3030;
}
