
table{
  th{
    font-size: 12px!important;
    font-weight: bold!important;
  }
  td{
    font-size: 12px!important;
    padding: 14px!important
  }
  img{
    max-width: 70px;
    min-height: 30px;
  }
}