a{
    color: white!important;
    text-align: center;
    font-weight: 400;
}
  
/* Dropdown Button */
.dropbtn {
    background-color: #25272c;
    color: white;
    padding: 16px;
    font-size: 16px;
    font-weight: 400;
    border: none;  
    vertical-align: middle;
    min-height: 100%;
}
  
.dropbtn:hover{background-color: #42444b;}
    
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    min-height: 100%;
}
    
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #25272c;
    min-width: 160px;
    z-index: 1;
}
    
/* Links inside the dropdown */
.dropdown-content a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
/* Links inside the dropdown */
.dropdown-content a:nth-child(2) {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-top: 1px solid #c2c0c0;
}
.dropdown-content a:nth-child(3) {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-top: 1px solid #c2c0c0;
}
.dropdown-content a:nth-child(4) {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-top: 1px solid #c2c0c0;
  }
.dropdown-content a:nth-child(5) {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-top: 1px solid #c2c0c0;
}
.dropdown-content a:nth-child(6) {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-top: 1px solid #c2c0c0;
}
.dropdown-content a:nth-child(7) {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-top: 1px solid #c2c0c0;
}
.dropdown-content a:nth-child(8) {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-top: 1px solid #c2c0c0;
}
.dropdown-content a:nth-child(9) {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-top: 1px solid #c2c0c0;
}
.dropdown-content a:nth-child(10) {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-top: 1px solid #c2c0c0;
}
    
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #40434b;}
    
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
  
#logo {
    margin-left: 2rem;
    max-height: 50px;
}

#navbar{
    text-align: center;
    .btn.btn-primary{
        background-color: transparent!important;
        border: none;
        border-radius: 0;
        border-top: 1px solid white;
        padding: 16px;
        margin: 0;
        width: 100%
    }
    .btn.btn-primary:hover{
        border: none;
        border-radius: 0;
        border-top: 1px solid white;
        padding: 16px;
        margin: 0;
        width: 100%;
        background-color: #40434b!important;
    }

}

@media screen and(max-width: 680px){
    #navbar{
        display: none!important;
    }
}