.dutcher-page {
  display: flex;
  flex-direction: row;
  background-color: #22222f;
  .sidebar {
    margin-left: 0;
    transition-duration: margin-left 0.6s;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1030;
  }
  .sidebar-collapsed {
    margin-left: -15%;
    transition-duration: margin-left 0.6s;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1030;
  }
  .dutcher-container {
    overflow: auto;
    display: flex;
    flex-direction: column;
    min-width: 0;
    min-height: 100vh;
    margin-left: 15%;
    background-color: #0a0b18;
    width: 100%;
    transition-duration: margin-left 0.6s;

    .buttons-container {
      display: flex;
      flex-direction: row;
      justify-content: left;
      margin: 1% 2.5%;
    }

    .first-bookmaker-containter {
      display: flex;
      flex-direction: row;
      justify-content: left;
      margin: 2.5%;
      .MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-formControl.MuiInput-formControl {
        border-bottom: 1px solid white;
      }
      label {
        color: white;
      }
      .MuiSvgIcon-root.MuiSelect-icon {
        color: white;
      }
      #refresh-icon{
        margin: auto;
        margin-left: 1%;
        color: white;
        cursor: pointer;
        font-size: 40px;
      }
      #refresh-icon:hover{
        color: rgb(180, 178, 178);
      }
      
    }

    .burger-menu-container {
      background-color: #2c2c34;
      button {
        width: 70px;
        height: 50px;
        background-color: transparent;
        border: none;
        color: #cacacc;
        svg {
          font-size: 25px;
          font-weight: 200;
        }
      }
    }
    .MuiPaper-root.makeStyles-root-4.MuiPaper-elevation1.MuiPaper-rounded {
      margin-left: 2.5%;
      margin-right: 2.5%;
      width: 95% !important;
      background-color: #23242d;
      th {
        background-color: #23242d;
        color: white;
      }
      td {
        color: white;
      }
      .MuiTablePagination-root {
        color: white;
        svg {
          color: white;
        }
      }
      ::-webkit-scrollbar {
        background-color: #3a3b44;
        width: 8px;
      }
      ::-webkit-scrollbar-track {
        color: #7267d3;
        width: 10px;
        border-radius: 0%;
      }
      ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #7267d3;
      }
      .MuiTableCell-root.MuiTableCell-body.MuiTableCell-alignCenter:nth-child(8) {
        background-color: #a6d8ff;
        color: black;
        font-weight: bold;
        border: 2px solid white !important;
        border-left: 3px solid white !important;
      }
      .MuiTableCell-root.MuiTableCell-body.MuiTableCell-alignCenter:nth-child(9) {
        background-color: #fac9d1;
        color: black;
        font-weight: bold;
        border: 2px solid white !important;
        border-right: 3px solid white !important;
      }
    }
  }
  .dutcher-container-collapsed {
    overflow: auto;
    display: flex;
    flex-direction: column;
    min-width: 0;
    min-height: 100vh;
    margin-left: 0;
    background-color: #0a0b18;
    width: 100%;
    transition-duration: margin-left 0.6s;

    .buttons-container {
      display: flex;
      flex-direction: row;
      justify-content: left;
      margin: 2.5%;
    }

    .first-bookmaker-containter {
      display: flex;
      flex-direction: row;
      justify-content: left;
      margin: 2.5%;
      color: white !important;
    }

    .burger-menu-container {
      background-color: #2c2c34;
      button {
        width: 70px;
        height: 50px;
        background-color: transparent;
        border: none;
        color: #cacacc;
        svg {
          font-size: 25px;
          font-weight: 200;
        }
      }
    }
    .MuiPaper-root.makeStyles-root-4.MuiPaper-elevation1.MuiPaper-rounded {
      margin-left: 2.5% !important;
      margin-right: 2.5% !important;
      width: 95% !important;
      background-color: #23242d !important;
      th {
        background-color: #23242d !important;
        color: white !important;
      }
      td {
        color: white !important;
      }
      .MuiTablePagination-root {
        color: white !important;
        svg {
          color: white !important;
        }
      }
      ::-webkit-scrollbar {
        background-color: #3a3b44;
        width: 8px;
      }
      ::-webkit-scrollbar-track {
        color: #7267d3;
        width: 10px;
        border-radius: 0%;
      }
      ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #7267d3;
      }
      .MuiTableCell-root.MuiTableCell-body.MuiTableCell-alignCenter:nth-child(8) {
        background-color: #a6d8ff !important;
        color: black !important;
        font-weight: bold !important;
        border: 2px solid white !important;
        border-left: 3px solid white !important;
      }
      .MuiTableCell-root.MuiTableCell-body.MuiTableCell-alignCenter:nth-child(9) {
        background-color: #fac9d1 !important;
        color: black !important;
        font-weight: bold !important;
        border: 2px solid white !important;
        border-right: 3px solid white !important;
      }
    }
  }

  .MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {

  }
}
