.forms-col{
    text-align: center;
    border-radius: 5px;
    padding: 1rem 1rem;
    background-color: #e49503;
    height: 100%;

    h4{
        padding-bottom: 0.7rem;
    }

    .filters-footer{
        button{
            width: 100%;
            font-weight: bold;
        }
    }
}