#trimatcher-container{
    min-height: 100vh;   
    background-color: #25272c;
    color: white;

    .refresh-button{
        border-color: white;
    }

    span{
        font-weight: bold; 
    }

    .trimatcher-settings-columns{
        text-align: center;
        margin-top: 1rem;
        button{
            width: 100%;
            background-color: brown;
            color: white;
            letter-spacing: 2px;
        }
    }

    #trimatcher-table-row{
        margin-top: 1rem;
    }
    
    .rt-table{

        border-bottom: 1px solid white;
        border-right: 1px solid white;

        .rt-th{
            border-left: 1px solid white;
        }

        .rt-thead.-header{
            border: 1px solid white;
        }

        .rt-tr{
            border-top: 1px solid white;
        }

        .rt-td{
            border-left: 1px solid white;
            text-align: center;
        }

        .rt-td:nth-child(1){
            padding-top: 14px;
        }
        .rt-td:nth-child(2){
            padding-top: 14px;
        }
        .rt-td:nth-child(3){
            padding-top: 14px;
        }
        .rt-td:nth-child(4){
            padding-top: 14px;
        }
        .rt-td:nth-child(5){
            background-color: brown;
            color: white;
            font-weight: bold;
            padding-top: 14px;
        }
        .rt-td:nth-child(7){
            background-color: brown;
            color: white;
            font-weight: bold;
            padding-top: 14px;
        }
        .rt-td:nth-child(9){
            background-color: brown;
            color: white;
            font-weight: bold;
            padding-top: 14px;
        }
        .rt-td:nth-child(11){
            padding-top: 14px;
        }
        .rt-td:nth-child(12){
            padding-top: 14px;
        }
        .rt-td:nth-child(13){
            padding-top: 14px;
        }

        img {
            min-width: 100px;
            max-width: 100px;
            min-height: 36px;
            max-height: 36px;
            object-fit: fill;
        }
    }

    .pagination-bottom{
        border: 1px solid white;
        border-top: none;
        .-previous{
            button{
                border: 1px solid white;
                color: white!important;
                font-weight: bold;
            }
        }

        .-next{
            button{
                border: 1px solid white;
                color: white!important;
                font-weight: bold;
            }
        }

    }

    .rt-resizable-header-content{
        font-weight: bold;
    }

    #open-trimatcher-match-info-modal-icon{
        cursor: pointer;
        font-size: 20px;
        color: #ffa500;
    }

    #open-trimatcher-match-info-modal-icon:hover{
        cursor: pointer;
        font-size: 20px;
        color: #a52a2a;
    }

}