// Login
@import "./styles/Login/login";

// Registration
@import "./styles/Registration/registration";

// Restore Password
@import "./styles/RestorePassword/restore-password";

// OddsMatcher
@import "./styles/OddsMatcher/oddsmatcher";

// Dutcher
@import "./styles/Dutcher/dutcher";
@import "./styles/Dutcher/dutcher-filters-modal";
@import "./styles/Dutcher/dutcher-filters-body";
@import "./styles/Dutcher/dutcher-match-info-modal";

// Trimatcher
@import "./styles/Trimatcher/trimatcher";
@import "./styles//Trimatcher//trimatcher-filters-body";

// Targheter
@import "./styles/Targheter/targheter";

// Punta e Banca
@import "./styles/PuntaBanca/puntabanca";

@import "./styles/tools-title";
@import "./styles/match-info-modal";
@import "./styles//profit-tracker";
@import "./styles//sidebar";
@import "./styles/casino";
@import "./styles/new-sidebar";
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.disclaimer {
  width: 95%;
  margin: 0.5% 2.5%;
  p {
    color: whitesmoke;
    padding: 1.5rem;
    text-align: center;
    border: 1px solid #7267d3;
    box-shadow: 5px 5px 5px  #7267d3;
  }
}

