@import "./styles/dutcher";
@import "./styles/tools-title";
@import "./styles//dutcher-filters-modal";
@import "./styles//trimatcher";
@import "./styles/trimatcher-filters-modal";
@import "./styles/match-info-modal";
@import "./styles//profit-tracker";
@import "./styles//sidebar";
@import "./styles/casino";

.row{
    margin-left: 0!important;
    margin-right: 0!important;
}

.disclaimer{
    width: 100%;
    padding: 1rem;
    p{
        padding: 1.5rem;
        border: 2px solid #ffa500 !important;
    }
}