body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded{
  background-color: #23242d;
  color: white;
}
.MuiList-root.MuiMenu-list.MuiList-padding{
  background-color: #23242d;
}
.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded::-webkit-scrollbar {
  background-color: #23242d;
  width: 8px;
}

.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded::-webkit-scrollbar-track {
  color: #7267d3;
  width: 10px;
  border-radius: 0%;
}
.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #7267d3;
}
.MuiButtonBase-root.MuiListItem-root.MuiMenuItem-root.MuiMenuItem-gutters.MuiListItem-gutters.MuiListItem-button:hover{
  background-color: #5c5c62;
}

::-webkit-scrollbar {
  background-color: #3a3b44;
  width: 8px;
}

::-webkit-scrollbar-track {
  color: #7267d3;
  width: 10px;
  border-radius: 0%;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #7267d3;
}
