#offline3VieMainContainer {
    width: 100vw;
    height: 100vh;
    background-color: #25272c;
}

#cashback3VieTitleContainer{
    text-align: center;
    padding: 3vh;
    background-color: #2e3339;
    border-radius: 10px;
}

#cashback3VieTitle {
    color: #ff5252;
}

.calcolatore3vieContainer{
    margin-top: 3vh;
    background-color: rgba(46, 51, 57, 0.6);
    min-height: 70vh;
    min-width: 45vw;
    max-width: 45vw;
    border-radius: 10px;
}

.calcolatore3VieContainer2{
    margin-top: 3vh;
    background-color: rgba(46, 51, 57, 0.6);
    min-height: 70vh;
    max-width: 35vw;
    border-radius: 10px;
    text-align: center;
}