.punta-punta-page {
    display: flex;
    flex-direction: row;
    background-color: #22222f;
    // Normal sidebar
    .sidebar {
      margin-left: 0;
      transition-duration: margin-left 0.6s;
      position: fixed;
      top: 0;
      bottom: 0;
      z-index: 1030;
    }
  
    // Collapsed sidebar
    .sidebar-collapsed {
      margin-left: -15%;
      transition-duration: margin-left 0.6s;
      position: fixed;
      top: 0;
      bottom: 0;
      z-index: 1030;
    }
  
    .punta-punta-container {
      overflow: auto;
      display: flex;
      flex-direction: column;
      min-width: 0;
      min-height: 100vh;
      margin-left: 15%;
      background-color: #0a0b18;
      width: 100%;
      transition-duration: margin-left 0.6s;
  
      .title-container {
        margin: 0.5% 2.5%;
      }
  
      .burger-menu-container {
        // Button container, collapsiong menu
        background-color: #2c2c34;
        button {
          width: 70px;
          height: 50px;
          background-color: transparent;
          border: none;
          color: #cacacc;
          svg {
            font-size: 25px;
            font-weight: 200;
          }
        }
      }
    }
  
    /*
          COLLAPSED SIDEBAR
        */
    .punta-punta-container-collapsed {
      overflow: auto;
      display: flex;
      flex-direction: column;
      min-width: 0;
      min-height: 100vh;
      margin-left: 0;
      background-color: #0a0b18;
      width: 100%;
      transition-duration: margin-left 0.6s;
  
      .title-container {
        margin: 0.5% 2.5%;
      }
  
      .burger-menu-container {
        background-color: #2c2c34;
        button {
          width: 70px;
          height: 50px;
          background-color: transparent;
          border: none;
          color: #cacacc;
          svg {
            font-size: 25px;
            font-weight: 200;
          }
        }
      }
    }
  }
  
  .punta-punta-calcolatore-container {
    margin: 2.5% auto;
    width: 55%;
    input {
      color: white;
    }
    label {
      color: white;
    }
    .form-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 1rem;
    }
    .punta-punta-button-container {
      display: flex;
      justify-content: center;
      margin-top: 5px;
      margin-bottom: 5px;
      button {
        color: white;
        border-radius: 0%;
        border-bottom: 1px solid white;
        margin-bottom: 10px;
        span {
          border: none;
        }
        :hover {
          border: none;
          background-color: transparent;
        }
      }
      :hover {
        border-bottom: 1px solid white;
        border-radius: 0%;
        background-color: rgba(255, 255, 255, 0.08);
      }
    }
  }
  
  .MuiAlert-action {
    width: auto;
  }
  
  .punta-punta-calcolatore-container > div {
    border-radius: 10px;
  }
  
  .punta-punta-slider-container {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .punta-punta-slider-container-hide {
    display: none;
  }
  
  .punta-punta-switch-container > div {
    position: relative;
    top: 2rem;
    left: 4rem;
  }
  
  .show-profit {
    .MuiAlert-icon {
      display: none;
    }
  
    .MuiAlert-message {
      margin-left: auto;
    }
  
    .p-tags-container {
      p {
        display: inline;
      }
    }
  }
  